8th semester project
diagrams
notes
books
eclass
papers
__pycache__
progress reports
report
results
.vscode
BDLib-2
noise_train_esc50
noise_train_kaggle
sample noise dataset by Axon Labs
PT_DATASET_250314
plot_noise_colors.py
plot_path_responses.py
journal.xlsx
nn_log.csv
checkpoints
models
logs
dataset
code.zip