8th semester project
diagrams
notes
books
eclass
papers
__pycache__
progress reports
report
.vscode
BDLib-2
noise_train_esc50
noise_train_kaggle
sample noise dataset by Axon Labs
PT_DATASET_250314
plot_noise_colors.py
plot_path_responses.py
journal.xlsx
code.zip
dataset_1
trimmed
trimmed_selection
old models
*.pt